<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LearnerAcademy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CandidateServlet</display-name>
    <servlet-name>CandidateServlet</servlet-name>
    <servlet-class>com.simplilearn.servlets.CandidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateServlet</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>com.simplilearn.servlets.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveClass</display-name>
    <servlet-name>SaveClass</servlet-name>
    <servlet-class>com.simplilearn.servlets.SaveClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveClass</servlet-name>
    <url-pattern>/SaveClass</url-pattern>
  </servlet-mapping>
</web-app>