<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LearnerAcademy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CandidateServlet</display-name>
    <servlet-name>CandidateServlet</servlet-name>
    <servlet-class>com.simplilearn.servlets.CandidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateServlet</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>com.simplilearn.servlets.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassServlet</display-name>
    <servlet-name>ClassServlet</servlet-name>
    <servlet-class>com.simplilearn.servlets.ClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassServlet</servlet-name>
    <url-pattern>/saveClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectServlet</display-name>
    <servlet-name>SubjectServlet</servlet-name>
    <servlet-class>com.simplilearn.servlets.SubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectServlet</servlet-name>
    <url-pattern>/saveSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherServlet</display-name>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>com.simplilearn.servlets.TeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/saveTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDetailSubjectClass</display-name>
    <servlet-name>GetDetailSubjectClass</servlet-name>
    <servlet-class>com.simplilearn.servlets.GetDetailSubjectClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDetailSubjectClass</servlet-name>
    <url-pattern>/subjectMapList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addSubjectMapping</display-name>
    <servlet-name>addSubjectMapping</servlet-name>
    <servlet-class>com.simplilearn.servlets.addSubjectMapping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addSubjectMapping</servlet-name>
    <url-pattern>/addSubjectMapping</url-pattern>
  </servlet-mapping>
</web-app>